body {
  font-family: Arial, sans-serif;
  background-color: #b3d9ff;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  color: #4A90E2;
  text-align: center;
  margin-top: 50px;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
}

a {
  color: #4A90E2;
  text-decoration: none;
  font-weight: bold;
}

a.project-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 40px auto;
  background-color: #4A90E2;
  padding: 15px 30px;
  border-radius: 5px;
  max-width: 220px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.project-link:hover {
  background-color: #357ABD;
}

div {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline;
  margin: 0 10px;
}

ul li a {
  font-size: 30px;
  color: #333;
}

ul li a:hover {
  color: #4A90E2;
}

@media (max-width: 600px) {
  h1, p, h2 {
    font-size: 16px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
